<a href="https://colab.research.google.com/github/eljuanrv/Data_Science_With_Python/blob/main/Joining_Data_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Joining Data with pandas

**Course Description**

Being able to combine and work with multiple datasets is an essential skill for any aspiring Data Scientist. pandas is a crucial cornerstone of the Python data science ecosystem, with Stack Overflow recording 5 million views for pandas questions. Learn to handle multiple DataFrames by combining, organizing, joining, and reshaping them using pandas. You'll work with datasets from the World Bank and the City Of Chicago. You will finish the course with a solid skillset for data-joining in pandas.

In [6]:
import pandas as pd

## Data Merging Basics

Learn how you can merge disparate data using inner joins. By combining information from multiple sources you’ll uncover compelling insights that may have previously been hidden. You’ll also learn how the relationship between those sources, such as one-to-one or one-to-many, can affect your result.

### Inner Join

In [3]:
avocados_dict = {
    'id':[1,2,3],
  "date": ['2019-11-17','2019-12-01','2019-12-01'],
  "small_sold": [10859987,9291631,7000000],
  "large_sold": [7674135,	6238096,20000]
}

In [14]:
avocados_price={
    'id':[2,3,1],
    'price':[33,22,11],
    "large_sold": [7674135,	6238096,20000]
}

In [8]:
df_1=pd.DataFrame(avocados_dict)
df_1

   id        date  small_sold  large_sold
0   1  2019-11-17    10859987     7674135
1   2  2019-12-01     9291631     6238096
2   3  2019-12-01     7000000       20000

In [15]:
df_2=pd.DataFrame(avocados_price)
df_2

   id  price  large_sold
0   2     33     7674135
1   3     22     6238096
2   1     11       20000

merge

In [17]:
df_1.merge(df_2, on='id',suffixes=['_dict','_price'])

   id        date  small_sold  large_sold_dict  price  large_sold_price
0   1  2019-11-17    10859987          7674135     11             20000
1   2  2019-12-01     9291631          6238096     33           7674135
2   3  2019-12-01     7000000            20000     22           6238096

### One to many relationships

In [18]:
avocados_dict = {
    'id':[1,2,3],
  "date": ['2019-11-17','2019-12-01','2019-12-01'],
  "small_sold": [10859987,9291631,7000000],
  "large_sold": [7674135,	6238096,20000]
}
df_3=pd.DataFrame(avocados_dict)
df_3

In [19]:
avocados_price={
    'id':[2,3,1,1,1],
    'price':[33,22,11,100,123],
    "large_sold": [7674135,	6238096,20000,345,543]
}
df_4=pd.DataFrame(avocados_price)
df_4

In [22]:
df_3.merge(df_4,on='id')

   id        date  small_sold  large_sold_x  price  large_sold_y
0   1  2019-11-17    10859987       7674135     11         20000
1   1  2019-11-17    10859987       7674135    100           345
2   1  2019-11-17    10859987       7674135    123           543
3   2  2019-12-01     9291631       6238096     33       7674135
4   3  2019-12-01     7000000         20000     22       6238096

### Merging multiple Dataframes

In [23]:
avocados_dict = {
    'id':[1,2,3],
  "date": ['2019-11-17','2019-12-01','2019-12-01'],
  "small_sold": [10859987,9291631,7000000],
  "large_sold": [7674135,	6238096,20000]
}
df_5=pd.DataFrame(avocados_dict)
df_5

   id        date  small_sold  large_sold
0   1  2019-11-17    10859987     7674135
1   2  2019-12-01     9291631     6238096
2   3  2019-12-01     7000000       20000

In [24]:
avocados_price={
    'id':[2,3,1,1,1],
    'price':[33,22,11,100,123],
    "large_sold": [7674135,	6238096,20000,345,543]
}
df_6=pd.DataFrame(avocados_price)
df_6

   id  price  large_sold
0   2     33     7674135
1   3     22     6238096
2   1     11       20000
3   1    100         345
4   1    123         543

In [25]:
avocados_color={
    'price':[33,22,11,100,123],
    "color": ['black','red','yellow','brown','orange']
}
df_7=pd.DataFrame(avocados_color)
df_7

   price   color
0     33   black
1     22     red
2     11  yellow
3    100   brown
4    123  orange

In [27]:
df_5.merge(df_6,on='id').merge(df_7,on='price')

   id        date  small_sold  large_sold_x  price  large_sold_y   color
0   1  2019-11-17    10859987       7674135     11         20000  yellow
1   1  2019-11-17    10859987       7674135    100           345   brown
2   1  2019-11-17    10859987       7674135    123           543  orange
3   2  2019-12-01     9291631       6238096     33       7674135   black
4   3  2019-12-01     7000000         20000     22       6238096     red

## Merging Tables With Different Join Types


Take your knowledge of joins to the next level. In this chapter, you’ll work with TMDb movie data as you learn about left, right, and outer joins. You’ll also discover how to merge a table to itself and merge on a DataFrame index

## Advanced Merging and Concatenating


In this chapter, you’ll leverage powerful filtering techniques, including semi-joins and anti-joins. You’ll also learn how to glue DataFrames by vertically combining and using the pandas.concat function to create new datasets. Finally, because data is rarely clean, you’ll also learn how to validate your newly combined data structures.


Merging Ordered and Time-Series Data


In this final chapter, you’ll step up a gear and learn to apply pandas' specialized methods for merging time-series and ordered data together with real-world financial and economic data from the city of Chicago. You’ll also learn how to query resulting tables using a SQL-style format, and unpivot data using the melt method